::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-black-50);
}
    
::-webkit-scrollbar-thumb {
        background-color: var(--theme-accent);
        border-radius: 5px;
}

:root {
    /* основной цвет текста */
    --text-white: #FFFFFF;
    /* вторичный цвет текста */
    --text-black: #000000;
    /* цвет-акцент */
    --theme-accent: #f3b121;
    /* вторичный цвет фона */
    --bgd-color: #000;
}

body{
    background-color: var(--bgd-color) ;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 1.48;
    font-weight: 700;
}

.text {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
}

.text-accent {
    color: var(--theme-accent);
}

.link {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 300;
    color: var(--text-white);
    padding-bottom: 4px;
    position: relative;
    transition: all 0.3s ease;
}

.link:hover,:focus {
    color: var(--theme-accent);
}

.link::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: var(--theme-accent);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    transform: scaleX(0);
    transform-origin: right, left;
    transition: transform .5s ease;
}

.link:hover::after {
    transform: scaleX(1.3);
}

.link span {
    color: var(--theme-accent);
}

.link:hover span {
    color: var(--text-white);
}

.circle-box {
    width: 185px;
    height: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--text-black);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-black);
    position: relative;
}

.circle::after{
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-black);
    left: 19px;
    bottom: 4px;
}

.circle::before {
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-black);
    right: 19px;
    bottom: 4px;
}

.circle-box-white {
    width: 185px;
    height: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--text-white);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.circle-white {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-white);
    position: relative;
}

.circle-white::after{
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-white);
    left: 19px;
    bottom: 4px;
}

.circle-white::before {
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-white);
    right: 19px;
    bottom: 4px;
}

/* Header START */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 2;
}

/* Header nav START */

.nav__box {
    display: flex;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

/* Header nav END */
/* Header company START */

.black-wild {
    text-align: center;
}

.black-wild h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
}

/* Header company END */
/* Hamburger menu START */
.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 767px;
    position: relative;
    z-index: 9;
}

.hamburger {
    position: relative;
    z-index: 15;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    line-height: 1.44;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text-black);
    background-color: var(--theme-accent);
    /* border-bottom: 2px solid var(--text-black); */
    display: none;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: transparent; */
}

.hamburger .hamburger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-block: 6px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
}

.hamburger.active .hamburger__line:nth-child(1) {
    transform: translateY(9px) 
    rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(3) {
    transform: translateY(-9px) 
    rotate(-45deg);
}

.dropdown-menu {
    position: absolute;
    z-index: 9;
    top: 0;
    z-index: 5;
    padding: 10px 15px;
    background-color: var(--theme-accent);
    border: 2px solid black;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
    transform: translateY(-100%);
    transition: transform 0.5s; 
}

.dropdown-menu.open {
	transform: translateY(0);
    top: 58px;
}


.dropdown-menu__item {
    width: 595px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-menu__item a {
    font-size: 20px ;
    line-height: 1.44;
    font-weight: 700;
    color: var(--text-black);
    width: 100%;
    text-align: center;
}

.dropdown-menu__item:hover {
    background-color: #2f303a;
}

.dropdown-menu__item:hover  a{
    color: var(--text-white);
}

.menu-active {
    display: block;
}

/* Hamburger menu END */
/* Header social link START */

.soc-link__box {
    display: flex;
}

.soc-link__item {
    margin-right: 29px;
}

.soc-link__item:last-child {
    margin-right: 0;
}

/* Header social link END */
/* Header END */

/* Main content START */
/* Hero Start */

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* .hero img {
    border-radius: 15px;
    max-width: 570px;
} */

.hero__video-section{
    width: 100%;
    background-image: url(./video/introjpg.jpg);
    background-position: center;
    mask-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero__video-section::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0
    , 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.hero__video{
    display: block;
    width: 100%;
}

.hero__title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 1.44;
    font-weight: 700;
    color: var(--text-white);
}

.hero__message{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    position: absolute;
    z-index: 3;
}

.hero__text {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 1.44;
    font-weight: 300;
    color: var(--text-white);
    margin-bottom: 30px;
}

/* Hero END */
/* About START */

.container--about {
    background-image: url(./img/bg/bg-img.jpg);
    position: relative;
    /* z-index: 2; */
}

.about {
    display: flex;
    justify-content: center;
}

.about__box {
    width: 541px;
    margin-top: 100px;
}
.about__item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about__text {
    color: var(--text-black);
    margin-bottom: 30px;
    font-size: 20px;
}

.about__title {
    color: var(--text-black);
    margin-bottom: 20px;
}

.about__item .btn {
    width: 472px;
    height: 127px;
    border-radius: 30px;
    margin-bottom: 40px;
    border: 0;
    background-image: url(./img/bg/bgd-btn.jpg);
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: var(--text-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

.about__item .btn:hover,.btn:focus {
    color: var(--theme-accent);
    border: 0;
}

/* About END */
/* Tattoo proces START */

.container--proces{
    background-color: var(--text-black);
    position: relative;
    /* z-index: 2; */
}

.proces {
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proces__title {
    color: var(--text-white);
    margin-bottom: 20px;
}

.proces iframe {
    width: 560px;
    height: 315px;
    border: 1px solid var(--text-white);
}

/* Tattoo proces END */
/* Says START */

.container--says {
    padding: 150px 0;
    background-image: url(./img/bg/bg-img.jpg);
}

.says {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-say {
    margin-bottom: 20px;
}

.says__title {
    color: var(--text-black);
    margin-bottom: 20px;
}

.says__text {
    font-style: italic;

    font-size: 48px;
    line-height: 1.58;
    max-width: 730px;
    text-align: center;
    margin-bottom: 50px;
}

.author {
    margin-bottom: 15px ;
}

.says-box p {
    font-style: italic;
}

/* Says END */
/* My work START */

.container--work{
    background-color: var(--text-black);
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title {
    color: var(--text-white);
    margin-bottom: 20px;
}

.work__box {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 960px;
}

.work__item {
    border: 2px solid var(--text-white);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    transition: all 0.7s ease;
    /* cursor: pointer; */
    overflow: hidden;
    object-fit: fill;
}

.work__item img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.work__item:hover {
    /* transform: scale(2); */
    border: 2px solid var(--theme-accent);
}

.btn {
    margin-top: 30px;
    background-image: url(./img/bg/bgd-btn-white.png);
    background-color: var(--text-black);
    background-repeat: no-repeat;
    width: 472px;
    height: 127px;
    border: 2px solid var(--text-black);
    border-radius: 30px;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: var(--text-black);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover,.btn:focus {
    border: 2px solid var(--theme-accent);
}

/* My work END */
/* Contact START */

.container--contact {
    background-color: var(--text-black);
}

.contact {
    display: flex;
    justify-content: center;
}

.contact--box {
    color: var(--text-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
}

.contact__title {
    color: var(--text-white);
    margin-bottom: 20px;
}

.contact__link {
    color: var(--text-white);
    display: flex;
    margin-bottom: 60px;
}

.contact__link--item {
    width: 73px;
    font-size: 16px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__link--item:last-child {
    margin-right: 0;
}

.contact__link--icon {
    width: 44px;
    height: 44px;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-white);
    border-radius: 50%;
    margin-bottom: 10px;
    transition-property: color, transform;
    transition-duration: 250ms;
    transition: transform 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link--icon:hover {
    color: var(--theme-accent);
    border: 2px solid var(--theme-accent);
    transform: rotateZ(360deg);
}

.icon-svg {
    width: 30px;
    fill: currentColor;
}

.contact .btn {
    color: var(--text-black);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .btn:hover {
    color: var(--theme-accent);
}

.created {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* Contact END */
/* Modal START */

.modal-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.model-form {
    padding: 40px 80px;
    border-radius: 10px;
    background-color: var(--bgd-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.model-form-title {
    color: var(--theme-accent);
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.77;
    margin-bottom: 4px;
    text-align: center;
}

.modal-form-text {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.77;
    text-align: center;
    color: var(--text-white);
    margin-bottom: 32px;
}

.model-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.model-form-field-label {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--text-white);
}

.model-form-text {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--theme-main);
    text-align: center;
}

.model-form-name,
.model-form-email {
    width: 440px;
    height: 40px;
    border: 1px solid var(--theme-accent);
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    padding: 4px;
    box-sizing: border-box;
}

.model-form-sabmit {
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    margin-top: 16px;
    color: var(--theme-btn-text);
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.modal-succes {
    padding: 80px 40px 88px 40px;
    border-radius: 10px;
    background-color: var(--bgd-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.modal-succes-title {
    color: var(--theme-accent);
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.modal-succes-text {
    font-family: 'AEB Garamond', serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 36px;
    color: var(--theme-accent);
    text-align: center;
}

/* Modal END */

@media (max-width:1023px) {
    .header {
        width: 100%;
        background-color: var(--theme-accent);
        border-bottom: 2px solid var(--text-black);
        padding: 0;
        position: fixed;
        z-index: 3;
        right: 0;
        left: 0;
        }

    .mobile-menu {
            display: flex;
    }

    .dropdown-menu.open {
        top: 75px;
    }

    .dropdown-menu__item {
        width: 580px;
        display: flex;
    }

    .hero {
        padding-top: 80px;
        overflow: hidden;
    }

    .hero__video{
        width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
    }

    .nav, .soc-link {
        display: none;
    }

    .work__box {
        width: 600px;
    }
    
    .work__item {
        width: 280px;
        height: 280px;
        /* height: 300px; */
    }

    .black-wild {
        display: none;
    }

    .hamburger {
        display: flex;
        font-size: 24px;
    }
}

@media (max-width:767px) {

    .header {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    position: fixed;
    z-index: 99;
    }

    .mobile-menu {
        display: flex;
    }

    .black-wild h1 {
        /* font-size: 24px;
        line-height: 1.44;
        color: var(--text-black); */
        display: none;
    }

    .hamburger {
        display: flex;
        font-size: 16px ;
    }

    .dropdown-menu.open {
        top: 58px;
    }

    .dropdown-menu__item {
        width: 340px;
        display: flex;
    }

    .title {
        font-size: 24px;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .text {
        font-size: 14px;
        line-height: 1.44;
    }

    .circle-box {
        margin-bottom: 30px;
    }

    /* Hero mobile START */

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 60px;
    }

    .hero__video{
        width: auto;
    }

    /* .hero img {
        width: 290px;
    } */

    .hero__message{
        padding: 60px;
    }

    .hero__title {
        font-size: 34px;
        line-height: 1.44;
        font-weight: 700;
    }

    .hero__text {
        margin-top: 30px;
        font-size: 24px;
        line-height: 1.44;
        font-weight: 300;
    }

    /* Hero mobile END */
    /* About mobile START */

    .about__box {
        width: 280px;
        padding: 15px;
        margin-top: 30px;
    }

    .about__text {
        margin-bottom: 30px;
    }

    .about .btn {
    color: #2f303a;
    width: 280px;
    height: 50px;
    background-color: #f3b121;
    background-image: none;
    border: 2px solid black;
    font-size: 20px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    }

    .about .btn:focus {
        color:  #2f303a;
        background-color: #fff;
    }

    /* About mobile END */
    /* Proces mobile START */

    .conteiner-proces {
        margin: auto;
        padding: 15px;
    }

    .proces__title {
        font-size: 24px;
        line-height: 1.44;
    }
    
    .circle-box-white {
        margin-bottom: 20px;
    }

    .proces iframe {
        width: 290px;
        height: 175px;
        margin-bottom: 20px;
    }

        /* Proces mobile END */
        /* Says mobile START */

    .container--says {
        padding: 30px 15px;
    }

    .img-say {
        margin: 15px;
    }

    .says__text {
        font-size: 24px;
        line-height: 1.44;
        margin-bottom: 10px;
    }

    .author {
        width: 75px;
        margin-bottom: 15px;
    }

        /* Says mobile END */
        /* Work mobile START */

    .work__box {
        width: 250px;
    }


    .work__item {
        border: 2px solid var(--text-white);
        border-radius: 20px;
        margin: 5px;
        width: 240px;
    }

    /* .work__item img {
        height: 100%; 
        width: 100%;
    } */


        /* Work mobile END */

    .btn{
        margin-top: 20px;
        color: #2f303a;
        width: 280px;
        height: 50px;
        background-color: #f3b121;
        background-image: none;
        border: 2px solid black;
        font-size: 20px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
    }

    .btn:focus {
        color:  #2f303a;
        background-color: #fff;
    }

    /* Contact mobile START */

    .contact {
        margin: auto;
        padding: 20px 15px;
    }

    .contact__title {
        font-size: 24px;
        line-height: 1.44;
    }

    .contact__link {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    /* Contact mobile END */
    
    .model-form {
        padding: 40px 20px;
        width: 80%;
    } 

    .close-icon {
        top: 10px;
        right: 10px;
    }

    .model-form-title {
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.44;
    }
    
    .modal-form-text {
        font-size: 18px;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .model-form-name,
    .model-form-email {
        width: 250px;
        height: 40px;
    }
    
    .modal-succes {
        padding: 40px 20px;
        width: 80%;
    }
}


.form {
    max-width: 550px;
    margin: 0px auto;
    padding: 30px 0;
    color: var(--text-white);
}

/* .form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__item {
    margin-bottom: 20px;
}

.form__label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.form__input {
    height: 30px;
    padding: 0px 20px;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
}

