/* font-family: 'Amiri', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
    /* основной цвет текста */
    --text-white: #FFFFFF;
    /* вторичный цвет текста */
    --text-black: #000000;
    /* цвет-акцент */
    --theme-accent: #f3b121;
    /* основной цвет фона */
    --main-bgd-color: #fff;
    /* вторичный цвет фона */
    --bgd-color: #2f303a;
    /* цвет фона кнопок */
    --bgd-button-color: #f5f4fa;
    /* цвет иконок */
    --svg-color: #afb1b8;
    /* Фон модалки */
    --bgd-modal: #afb1b8;
}

body{
    background-color: var(--bgd-color) ;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 30px;
}
.main-contend-header{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1A1A1A;
}

.bgd-home {
    background-image: url(./img/texture_background.jpg);
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 1.48;
    font-weight: 700;
}

.text {

}
/* Header START */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 300;
    color: var(--text-white);
    padding-bottom: 4px;
}

.link:hover,:focus {
    color: var(--theme-accent);
}

.link::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: var(--theme-accent);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    transform: scaleX(0);
    transform-origin: right, left;
    transition: transform .5s ease;
}

.link:hover::after {
    transform: scaleX(1.3);
}

.link span {
    color: var(--theme-accent);
}

.link:hover span {
    color: var(--text-white);
}
/* Header nav START */

.nav__box {
    display: flex;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 0;
}

/* Header nav END */

/* Header company START */

.black-wild h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
}

.black-wild {
    text-align: center;
}

/* Header company END */

/* Header social link START */

.soc-link__box {
    display: flex;
}

.soc-link__item {
    margin-right: 29px;
}

.soc-link__item:last-child {
    margin-right: 0;
}

.link {
    position: relative;
    transition: all 0.3s ease;
}

/* Header social link END */
/* Header END */

/* Main content START */
/* Hero Start */


.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero img {
    border-radius: 15px;
    max-width: 570px;
}

.hero__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 300;
    color: var(--text-white);
}


.hero__text p {
    font-size: 24px;
}

.hero__text span {
    color: var(--theme-accent);
}
/* Hero END */

/* About STAR */

.main-contend-about {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(./img/bg-img.png);
}

.container-about {
    display: flex;
    justify-content: center;
}

.about {
    width: 541px;
    margin-top: 100px;
}
.about__item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about__item:last-child {
    margin-bottom: 60px;
}

.about__item p {
    font-family: 'Amiri', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
    color: var(--text-black);
    margin-bottom: 30px;
}

.about__title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 1.48;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 20px;
}

.circle-box {
    width: 185px;
    height: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--text-black);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-black);
    position: relative;
}

.circle::after{
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-black);
    left: 19px;
    bottom: 4px;
}

.circle::before {
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-black);
    right: 19px;
    bottom: 4px;
}

.about__item .btn {
    width: 472px;
    height: 127px;
    border: 0;
    border-radius: 30px;
    background-image: url(./img/bgd-btn.png);
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: var(--text-white);
    cursor: pointer;
}

.about__item .btn:hover,.btn:focus {
    color: var(--theme-accent);
}
/* About END */

/* Tattoo proces START */

.main-contend-proces{
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--text-black);
}

.conteiner-proces {
    max-width: 1200px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img{
display: block;
}

.proces__title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 1.48;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 20px;
}

.conteiner-proces iframe {
    width: 560px;
    height: 315px;
}

.circle-box-white {
    width: 185px;
    height: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--text-white);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.circle-white {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-white);
    position: relative;
}

.circle-white::after{
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-white);
    left: 19px;
    bottom: 4px;
}

.circle-white::before {
    content: '';
    position: absolute;
    width: 19px;
    border-bottom: 1px solid var(--text-white);
    right: 19px;
    bottom: 4px;
}
/* Tattoo proces END */
/* Says START */
.main-content--says {
    max-width: 1920px;
    margin: 0 auto;
    padding: 150px 0;
    background-image: url(./img/bg-img.png);
}

.says-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-say {
    margin-bottom: 100px;
}

.say--title {
    font-family: 'Oswald', sans-serif;
    font-style: bolt;
    font-size: 60px;
    line-height: 1.48;
    color: var(--text-black);
    margin-bottom: 20px;
}

.says--text {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.58;
    max-width: 730px;
    text-align: center;
    margin-bottom: 50px;
}

.says-box p {
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    line-height: 1.77;
}
/* Says END */
/* My work START */
.main-content--work{
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--text-black);
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px auto;
}

.work__title {
    font-family: 'Oswald', sans-serif;
    font-style: bolt;
    font-size: 60px;
    line-height: 1.48;
    color: var(--text-white);
    margin-bottom: 20px;
}

.work__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1110px;
}

.work__item {
    border: 2px solid var(--text-white);
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    margin: 30px;
    transition: all 0.7s ease;
    cursor: pointer;
    overflow: hidden;
}

.work__item img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.work__item:hover {
    transform: scale(2);
    border: 2px solid var(--theme-accent);
}

.work .btn {
    background-image: url(./img/bgd-btn-white.png);
    background-color: var(--text-black);
    width: 472px;
    height: 127px;
    border: 0;
    border-radius: 30px;
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: var(--text-black);
    cursor: pointer;
    border: 2px solid var(--text-black);
}

.work .btn:hover,.btn:focus {
    border: 2px solid var(--theme-accent);
}
/* My work END */

/* Contact START */
.main-content--contact {
    max-width: 1920px;
    margin: 0 auto;  
    background-color: var(--text-black);
}

.contact {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.contact-box {
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
}

.contact__title {
    font-family: 'Oswald', sans-serif;
    font-style: bolt;
    font-size: 60px;
    line-height: 1.48;
    color: var(--text-white);
    margin-bottom: 20px;
}

.contact__link {
    font-family: 'Amiri', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 0.66;
    margin-bottom: 50px;
}

.contact-box h3 {
    font-family: 'Amiri', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.77;
    margin-bottom: 30px;
}

.contact-box p {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.77;
    margin-bottom: 50px;
}

.link--location {
    background-image: url(./img/bgd-btn-white.png);
    background-color: var(--text-black);
    width: 472px;
    height: 127px;
    border: 0;
    border-radius: 30px;
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: var(--text-black);
    cursor: pointer;
    border: 2px solid var(--text-black);
}

.link--location a {
    color: var(--text-black);
}

.link--location:hover {
    border:2px solid var(--theme-accent);
}

.created {
display: flex;
justify-content: center;
}



/* Contact END */

.modal-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.model-form {
    padding: 40px 80px;
    border-radius: 10px;
    background-color: var(--bgd-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .model-form-title {
    color: var(--theme-accent);
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.77;
    margin-bottom: 4px;
    text-align: center;
  }
  
  .modal-form-text {
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.77;
    text-align: center;
    color: var(--text-white);
    margin-bottom: 32px;
  }
  
  .model-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .model-form-field-label {
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--text-white);
  }
  
  .model-form-text {
    font-family: 'Amiri', serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--theme-main);
    text-align: center;
  }
  
  .model-form-name,
  .model-form-email {
    width: 440px;
    height: 40px;
    border: 1px solid var(--theme-accent);
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    padding: 4px;
    box-sizing: border-box;
  }
  
  .model-form-sabmit {
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    margin-top: 16px;
    color: var(--theme-btn-text);
  }
  
  .modal-active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-succes {
    padding: 80px 40px 88px 40px;
    border-radius: 10px;
    background-color: var(--bgd-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }
  
  .modal-succes-title {
    color: var(--theme-accent);
    font-family: 'Amiri', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .modal-succes-text {
    font-family: 'Amiri', serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 36px;
    color: var(--theme-accent);
    text-align: center;
  }

@media (max-width:768px) {
    .container {
        padding: 15px 15px;
    }

    .black-wild h1 {
        font-size: 24px;
        line-height: 1.44;
    }

    .main-contend-header{
        max-width: 100%;
        margin: 0 auto;
        background-color: #1A1A1A;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero img {
        width: 290px;
    }

    .hero__text{
        margin-top: 15px;
        padding: 15px;
        font-size: 16px;
        line-height: 1.44;
        font-weight: 300;
    }

    .about {
        margin-top: 30px;
    }

    .circle-box {
        margin-bottom: 30px;
    }
    
    .about__title {
        font-size: 24px;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .about__item p {
        font-family: 'Amiri', serif;
        font-size: 14px;
        line-height: 1.44;
        margin-bottom: 30px;
        width: 300px;
    }

    .about .btn {
    color: #2f303a;
    width: 280px;
    height: 50px;
    background-color: #f3b121;
    background-image: none;
    border: 2px solid black;
    font-size: 20px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    }

    .about .btn:focus {
        color:  #2f303a;
        background-color: #fff;
    }

    .conteiner-proces {
        margin: auto;
        padding: 15px;
    }

    .proces__title {
        font-size: 24px;
        line-height: 1.44;
    }
    
    .circle-box-white {
        margin-bottom: 20px;
    }

    .conteiner-proces iframe {
        width: 300px;
        height: 175px;
        margin-bottom: 20px;
    }

    .img-say {
        margin: 15px;
    }

    .says--text {
        font-size: 24px;
        line-height: 1.44;
        margin-bottom: 20px;
        padding: 15px;
    }

    .author {
        width: 125px;
    }

    .says-box p {
        font-size: 14px;
        line-height: 1.44;
    }

    .work {
        margin: auto;
        padding: 20px 15px;
    }

    .work__title {
        font-size: 24px;
        line-height: 1.44;
    }

    .work__item {
        border: 2px solid var(--text-white);
        max-width: 150px;
        max-height: 150px;
        border-radius: 20px;
        margin: 5px;
    }

    .work__item:hover {
        transform: scale(1.5);
    }

    .say--title {
        font-size: 24px;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .work .btn{
        margin-top: 20px;
        color: #2f303a;
        width: 280px;
        height: 50px;
        background-color: #f3b121;
        background-image: none;
        border: 2px solid black;
        font-size: 20px;
    }

    .work .btn:focus {
        color:  #2f303a;
        background-color: #fff;
    }

    .contact {
        margin: auto;
        padding: 20px 15px;
    }

    .contact__title {
        font-size: 24px;
        line-height: 1.44;
    }

    .contact__link {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .contact-box h3 {
        margin-bottom: 20px;
    }

    .contact-box p {
        font-size: 16px;
        line-height: 1.44;
        margin-bottom: 20px;
        width: 280px;
    }

    .link--location {
        color: #2f303a;
        width: 280px;
        height: 50px;
        background-color: #f3b121;
        background-image: none;
        border: 2px solid black;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .link--location:focus {
        color:  #2f303a;
        background-color: #fff;
    }
    
    .model-form {
        padding: 40px 20px;
        width: 80%;
    } 

    .close-icon {
        top: 10px;
        right: 10px;
    }

    .model-form-title {
        margin-top: 20px;
        font-size: 20px;
        line-height: 1.44;
    }
    
    .modal-form-text {
        font-size: 18px;
        line-height: 1.44;
        margin-bottom: 20px;
    }

    .model-form-name,
    .model-form-email {
        width: 250px;
        height: 40px;
    }
    
    .modal-succes {
        padding: 40px 20px;
        width: 80%;
    }
}

@media (max-width:1080px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .nav, .soc-link {
        display: none;
    }
}
/* Main content END */